body {
    font-family: Avenir, sans-serif;
}
h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

.fancy-toggle {
    background-color: #eee;
    max-width: 200px;
    border-radius: 8px;
    padding: 4px;
    overflow: hidden;
    display: flex;
}
.fancy-toggle-input {
    display: flex;
    flex-grow: 1;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 4px;
}
.fancy-toggle-input.active {
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.fancy-toggle-input input {
    display: none;
}
.fancy-toggle-input label {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fancy-toggle-input label:hover {
    cursor: pointer;
}
.fancy-toggle-input.active label:hover {
    cursor: default;
}

.fancy-select {
    background-color: #eee;
    border-radius: 8px 0 0 8px;
    border: 0;
    padding: 10px;
    height: 100%;
    overflow: hidden;
    display: flex;
}

#scale-selector {
    background-color: #eee;
    border-radius: 0 8px 8px 0;
    border: 0;
    padding: 10px;
    height: 100%;
    overflow: hidden;
    display: flex;
}

main {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}
main > div {
    padding: 2rem;
    border-left: 1px solid #ddd;
    width: 100%;
}
main > div:first-child {
    border-left: 0;
    background-color: #fbfbfb;
}

.noll-image {
    width: 100%;
    max-width: 400px;
    object-fit: contain;
    object-position: center;
}

.select-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}
.select-group label {
    margin-bottom: 5px;
}

.double-select {
    display: flex;
    flex-direction: row;
}
.double-select > div {
    flex-grow: 1;
}
.double-select > div:first-of-type {
    margin-right: 5px;
}

.table-container {
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #ddd;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    margin: 0;
}
td:first-of-type {
    font-weight: 500;
}
td:last-of-type {
    color: #333;
    text-align: right;
}
tr:first-of-type td {
    border-top: 0;
}
tr:last-of-type td {
    border-bottom: 0;
}
tr:nth-child(odd) {
    background-color: #f9f9f9;
}